@import "tailwindcss";

:root {
    --background: #f4f7f1;

    --herbal-50: #f7faf4;
    --herbal-100: #dff0d2;
    --herbal-200: #b9d9a8;
    --herbal-300: #7dbb43;
    --herbal-400: #4d8b5e;
    --herbal-500: #2f6b3f;
    --herbal-600: #1f4d2e;
    --herbal-700: #183c24;
    --herbal-800: #102817;

    --gold-100: #f3e4c2;
    --gold-300: #d8b36a;
    --gold-500: #b58b3b;
    --gold-700: #8b6b2e;

    --text-primary: #1d2b1f;
    --text-secondary: #5f6f61;

    --border: #dce6dc;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text-primary);

    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

/* CUSTOM SCROLLBAR */

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 999px;
    margin-block: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(
        180deg,
        #dff0d2 0%,
        #7dbb43 45%,
        #4d8b5e 100%
    );

    border-radius: 999px;

    border: 2px solid rgba(16, 40, 23, 0.9);

    transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        180deg,
        #eef7e8 0%,
        #9be255 45%,
        #67b97d 100%
    );

    box-shadow: 0 0 12px rgba(125, 187, 67, 0.45);
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #7dbb43 rgba(255, 255, 255, 0.05);
}